<div class="modal modal_success ">
  <div class="modal__bg"></div>

  <div class="modal-body">
    <div class="modal-body__close">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18 6L6 18" stroke="#4293FB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M6 6L18 18" stroke="#4293FB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </div>

    <div class="modal-body__ico">
      <img src="./img/icons/plane.svg" alt="">
    </div>
    <div class="modal-body__title">
      Ваша заявка отправлена, в ближайшее время с вами свяжется менеджер по бронированию.
    </div>
    <div class="modal-body__thanks">
      Спасибо, что выбрали нас!
    </div>
  </div>
</div>