<div class="support support_rooms">
  <div class="support-top support_main-top">
    <div class="support-top__title">
      Онлайн
      <br>
      помощник
    </div>
    <div class="support-top__img">
      <img src="./img/support.png" srcset="./img/support.png 1x, ./img/support@2x.png 2x" alt="">
    </div>
    <div class="support-top__close">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18 6L6 18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M6 6L18 18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </div>
  </div>
  <div class="support-content">
    <div class="support-content__container">
      <div data-step="0" class="_message _message_bot _sent">
        <div class="_message__name">
          Онлайн помощник
        </div>
        <div class="_message__content _writing">
          <p>
            печатает...
          </p>
        </div>
      </div>

      <div data-step="1" class="_message _message_bot">
        <div class="_message__name">
          Онлайн помощник
        </div>
        <div class="_message__content">
          <p data-text="Здравствуйте! Я помогу Вам забронировать отдых в /название отеля/.
          Выберите, пожалуйста, период поездки:">

          </p>
          <div class="_message__datapicker">
            <input id="support-datapicker" placeholder="Заезд - Выезд"
              class="main-booking__item main-booking__item_input" />
          </div>
        </div>
        <div class="_message__content _writing">
          <p>
            печатает...
          </p>
        </div>
      </div>
      <div class="_message _message_user">
        <div class="_message__name">
          Вы
        </div>
        <div id="support-date-container-picked" class="_message__content">
          22.05.23 - 28.05.23
        </div>
      </div>
      <div class="_message _message_bot">
        <div class="_message__name">
          Онлайн помощник
        </div>
        <div class="_message__content">
          <p data-text="Укажите, пожалуйста, количество гостей">

          </p>
          <div class="_message__guestpicker">
            <div id="support-guestpicker-item-rooms" class="main-booking__item-guest main-guestpicker">
              <div class="main-guestpicker__content">
                <div class="main-guestpicker__content-col">
                  <div class="main-guestpicker__content-adult">
                    <span class="_title">Взрослых</span>

                    <div id="support-guestpicker-value" class="main-guestpicker__content-value">
                      <span class="_minus"></span>
                      <input type="number" value="2">
                      <span class="_plus"></span>
                    </div>
                  </div>
                </div>
                <div class="main-guestpicker__content-col">
                  <div class="main-guestpicker__content-childs">
                  </div>
                  <div class="main-guestpicker__content-add btn btn_border">Добавить ребенка</div>
                </div>
              </div>
              <div class="main-guestpicker__bottom">
                <div id="guest-picker-confirm" class="main-guestpicker__btn btn">выбрать</div>
              </div>
            </div>
          </div>
        </div>
        <div class="_message__content _writing">
          <p>
            печатает...
          </p>
        </div>
      </div>
      <div class="_message _message_user">
        <div class="_message__name">
          Вы
        </div>
        <div class="_message__content">
          <p id="support-guest-container-picked">
            2 Гостя
          </p>
        </div>
      </div>
      <div class="_message _message_bot">
        <div class="_message__name">
          Онлайн помощник
        </div>
        <div class="_message__content">
          <p data-text="Укажите, Ваш номер телефона, для подтверждения данных">

          </p>
        </div>
        <div class="_message__content _writing">
          <p>
            печатает...
          </p>
        </div>
      </div>
      <div class="_message _message_user">
        <div class="_message__name">
          Вы
        </div>
        <div class="_message__content">
          <p id="support-phone-input">

          </p>
        </div>
      </div>
      <div class="_message _message_bot">
        <div class="_message__name">
          Онлайн помощник
        </div>
        <div class="_message__content">
          <p data-text="Спасибо! Как к Вам можно обращаться?">

          </p>
        </div>
        <div class="_message__content _writing">
          <p>
            печатает...
          </p>
        </div>
      </div>
      <div class="_message _message_user">
        <div class="_message__name">
          Вы
        </div>
        <div class="_message__content">
          <p id="support-name-input">

          </p>
        </div>
      </div>
      <div class="_message _message_bot">
        <div class="_message__name">
          Онлайн помощник
        </div>
        <div class="_message__content">
          <p
            data-text="Благодарим за обращение! В ближайшее время с вами свяжется менеджер для согласования данных по вашей брони">
          </p>
        </div>
        <div class="_message__content _writing">
          <p>
            печатает...
          </p>
        </div>
      </div>
    </div>
    <div class="support-content__send _hidden">
      <form class="support-content__send-item">
        <input type="text" placeholder="Ваш ответ">
        <button>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 18L9 12L15 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </form>
    </div>
  </div>
  <div class="support__bg support_main__bg"></div>
</div>