<footer class="footer">
  <div class="footer-row">
    <div class="container">
      <div class="footer-row__body">
        <div class="footer-body__logo">
          <img src="./img/footer/logo.png" srcset="./img/footer/logo.png 1x, ./img/footer/logo@2x.png 2x" alt="">
        </div>
        <div id="toTop" class="footer-body__btn">
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.4098 15.4754L12.5081 9.57373L6.60651 15.4754" stroke="#4293FB" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-row">
    <div class="container">
      <div class="footer-row__body">
        <div class="footer-col">
          <a href="" class="footer-body__link">
            Информационный проект компании “Открытый мир”.
          </a>
          <a href="" class="footer-body__link">
            Политика конфиденциальности
          </a>
        </div>
        <div class="footer-col">
          <div class="footer-body__title">
            Офисы продаж:
          </div>
          <a href="tel:+78612167777" class="footer-body__link">
            Краснодар +7 861 216 77 77
          </a>
        </div>
        <div class="footer-col">
          <a href="mailto:mail@bron.me" class="footer-body__link">
            E-mail - mail@bron.me
          </a>
          <div class="footer-body__title">
            Часы работы: с 09:00 до 21:00
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-row">
    <div class="container">
      <div class="footer-row__body">
        <div class="footer-row__body-cr">
          © 2023 Открытый мир
        </div>
      </div>
    </div>
  </div>
</footer>